body
{
	background-color: #1f1d1d;
	color: white;
}

.WRAPPER
{
	min-height: calc(100vh - 120px);
}


fieldset[disabled] > div > input,  fieldset[disabled] > div > textarea {
	background-color: white;
}
